@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
.month-view {
    .fc-next-button,
    .fc-prev-button,
    .fc-today-button {
        display: none !important;
    }
}
.list-view {
    .fc-left {
        display: none !important;
    }
}
.fc-event {
    cursor: pointer;
}